<h1>お気に入り投稿一覧</h1>
<p><%= notice %></p>
<table>
<% @favorites.each do |favorite| %>
  <tr>
    <td>ユーザー:<%= favorite.picture.user.name %></td>
    <td>内容:<%= favorite.picture.content %></td>
    <td>写真:<%= image_tag favorite.picture.picture.url %></td>
  </tr>
<% end %>
</table>

<%= link_to '投稿一覧', pictures_path %>